<p id="notice"><%= notice %></p>
<div class="title-container">
  <h1>Users</h1>
</div>
<div class="users">
  <% @users.each do |user| %>
    <div class="user">
      <div class="thhumbnail">
        <div class="caption">
          <h3><%= link_to user.username, user %></h3>
          <br/>
          <p>
            <% if current_user.id == user.id %>
            <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-default" %></td> 
            <td><%= link_to 'Delete', user, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <br/>
  <%end%>
</div>